.home-container {
  height: 100vh;
  width: 100vw;
  background: #000;
  color: white;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 25px 10px;
}
.home-item {
  width: 150px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-item-name {
  max-width: 100px;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}
.component-item-image{
  cursor: pointer;
}